body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.6em;
background-color: peachpuff;

}
header{margin-left: 30;
font-size: 20px;
color :peachpuff;
background-color: white;
font-family:Arial, Helvetica, sans-serif; display: flex; justify-content: center;
}
ul{font-size: 26px;
font-family: Georgia, 'Times New Roman', Times, serif;}
.footer{font-size: 4ch;}
a:hover{color: aquamarine;}


a{color: white;}
LI{color: white;}
footer{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
text-align: center;
font-size: 3ch;}
header{background-color: white;}


video{margin-left: 0;}

p{margin-left: 30;}
img{;float: right;}
body{background-color: peachpuff;}






